# Настройки сервера KAVKAZ-CAR. Этот файл должен лежать на сервере как /opt/kavkaz-car/.env
# Никуда не отправляйте и не добавляйте в git.
DOMAIN=kavkaz-car.ru
ACME_EMAIL=asalovadam@gmail.com
DB_PASSWORD=6af5b99b4f72116b0375652f9d58eb39

FLASK_ENV=production
FLASK_DEBUG=0
FORCE_HTTPS=1
TRUSTED_PROXIES=1
SITE_URL=https://kavkaz-car.ru

SECRET_KEY=09f29f2157504419d015025240ba8ee0520e7795cd145ba472bbf786c16ec7a8
ADMIN_PATH=ctl-8d6c70c3df0add
ADMIN_SECRET=X9ZtfcUxumC53ZUs
SUPPORT_PHONE=
